/* ------------ Basic styles ----------------  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Satisfy&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #484848;
    
    
}
a{
    text-decoration: none;
    color: #484848;
}
ul{
    list-style-type: none;
}
/* -------- Navbar styles --------------  */
nav{
    
    /* padding: 1rem; */
    padding-top: 4px;
    /* height: 3.5rem; */
    height: 4rem;
    position: fixed;
    z-index: 100;
    background-color: #fff;
    width: 100%;
}
.brand-logo{
    width: 8.5rem;
    margin-top: -0.5rem;
}
.logo-div{
    display: flex;
    justify-content: space-between;
    /* width: 16rem; */
}
.nav-menu{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.8rem;
    height: 100%;
}
.icon-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5rem;
}
.search-box{
    font-size: 15px;
    padding-left: 16px;
    padding: 12px 16px;
    border: 1px solid #d5d5d5;
    width: 100%;
    margin-top: 5px;
    
}
.search-div{
    position: relative;
    display: flex;
    align-items: center;
    width: 19rem;
    /* margin-top: -0.5rem; */
}
.search-div i{
    position: absolute;
    right: 1rem;
    font-size: 22px;
    color: #6f6f6f;
}
.icon-menu i{
    font-size: 26px;
    color: #6f6f6f;
    font-weight:lighter;
}
.brand-carousel-div{
    margin-right: -14px;
}
.brand-carousel-div img{
    width: 4rem !important;
}
/* --------------- hero section --------  */
.hero{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 66vh;
    background-image: url('./assets/hero-img.jpg');
    background-position: center;
    margin-top: 4.8rem !important;

}
header
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero .container
{
    width: 50%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 24%;
    right: auto;
    bottom: 5%;
    color: #fff;
    text-align: center;
}
.hero h1{
    font-size: 26px;
    font-weight: 600;
}
.search-block{
    display: flex;
    position: relative;
}
.search-block ul, .search-block button{
    position: absolute;
}
.search-block ul{
    left: 0;
    color: #484848;
    padding: 0;
}
.search-block ul li{
    border: none;
    background-color: #e1e1e1;
    border-radius: 3px;
    /* line-height: 1.2; */
padding: 12px;
z-index: 1;
margin:0;

}
.search-block button
{
    right: 1px;
    border-radius: 3px;
cursor:pointer;
border:1px solid #fff;
background-color: #e53012;
font-weight: 700;
font-size: 15px;
height: 3rem;
padding: 12px;
color: #fff;
padding: 0 24px;
}
.search-block input{
    width: 100%;
    height: 3rem;
    border: 2px solid white;
    padding-left: 13%;
    border-radius: 3px;
}
.drop-used{
    display: none;
}
.drop-new:hover+.drop-used
{
    display: block;
}
.label-div{
    display: flex;
    position: relative;
    width: 100%;
}
.label-div a{
    color: white;
    font-size: 12px;
}
.right{
    position: absolute;
    right: 0;
}
.vvv{
    background-color: #484848;
    height: 100vh;
}